.cellPrimal {
    font-family: "Century Gothic", sans-serif;
    color: #213547;
    font-size: 15px;
    text-align: center;
    height: 50px;
    width: 35px;
    background-color: gainsboro;
    border: none;
    border-radius: 0;
}

.cellPainted {
    background-color: #213547;
}